<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Browser Tab-->
   <title> Ryon Baldwin-Williams' personal page </title>
   <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">

  <link rel="stylesheet"    href="{{ url_for('static', filename='main//css/header-style.css') }}">
  
  <link rel="stylesheet"    href="{{ url_for('static', filename='main//css/main-style.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main//css/footer-style.css') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Import font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">




  <!-- <script src="{{ url_for('static', filename='main///chat/js/chat-scripting.js') }}" defer></script> -->
  {% block extracss %}{% endblock %}
  

</head>

<body>
    <article>
       <!-- header page-->
        <!-- The header  -->
    <!-- <header id="header-frame">
      <nav>
         <a href="/home">
          <div id="header-left">
              <i class="fa fa-trello" id="header-icon"></i>  
              <p id="header-left-text"> Trello </p>
           </div>

        </a>
          
           <div id="header-middle">
                <p id="header-middle-text"> Welcome {{username}} </p>
           </div>

           <div id="header-right">
                <a href="/logoutform" id="header-left-text"> Logout </a>
           </div>
       
      </nav>
     
    </header> -->
    <!-- The navigation bar -->
    
    <!-- The main content  -->
    <main>
      {% block maincontent %}{% endblock %}

    <!-- <a id="chat-div"href="/chat"> <img id="chat-icon" src="../../static/main/icons/chat-Icon.png" alt=""> </a> -->
    
    </main>


    </article>
    
   
</body>


</html>








<script src="{{ url_for('static', filename='main//js/menu-form.js') }}" defer></script>
{% block extrajs %}{% endblock %}