{% extends 'shared/layout.html' %}

{% block extracss %}
    <link rel="stylesheet"  href="../static/board/board-styling.css">
    <link rel="stylesheet"  href="../static/board/chat-styling.css">
{% endblock %}



{% block maincontent %}



    <div id="root">

        <h1 class="boardName" id="socketstufffornow">{{ board_info['board_name']  }} </h1>

        <div id="slider">

            
            
    
            
            <div class="todoList">
                <!-- <h2>Add new List</h2> -->
                <div class=".panel-card-add">
                    <div class="input" id="input-stack">
                        
                        <!-- <button id="close-button">&times;</button> -->
                        <input type="text" class="input-create" maxlength="25" id="input-field-stack" placeholder="Enter Stack title">
                        <button class="create-button disabled" id="create-button" disabled>Create Stack</button>
           
                    </div>
                    <button class="add-button" id="stack-title">
                        <span class="add-button-text">
                            <span class="add-icon">+</span>
    
                        </span>
                        Add a New Stack
                    </button>
                </div>
                <!-- <div class="new-list">
                    <input id="addTodoListInput" class="comment">
                    <button id="addTodoListButton" class="btn-save">Add</button>
                </div> -->
            </div>
    
            <div class="chat-popup" id="myForm">
                <!-- <form action="/action_page.php" class="form-container"> -->
                <div class="form-container">
                    <div id='chat' data-board-id="{{ board_id }}" contenteditable="false"> </div>
                    
                    <input type="text" class="message-input" id="chat-message-box" placeholder="Enter Your Message Here" title="message-input"/>
              
                  <button id="submit-button" class="btn">Send</button>
                  <button id="leave-room" type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </div>
                <!-- </form> -->
            </div>
    
            <div class="chat-popup-button" id="myForm">
                  <button type="button" class="btn cancel" id="open" onclick="openForm()">Open Chat</button>
            </div>
    
           
    
            {% for panel_id, panel in board_info['panels'].items() %}
                <div class="todoList panel {{panel['panel_id']}} dropzone">
                    <h2 class="todo-text ignore">{{panel['panel_name']}}</h2>
                    
    
                    <div class="panel-cards">
                        {% for card_id, card in panel['cards'].items() %}
                        <div class="card-wrapper draggable {{card_id}}" draggable="true">
                            <div class="panel-card card-id {{card_id}}">
                            
                                    <p class="panel-card-text">
                                        {{card['card_title']}}
                                    </p>
                                    <div class="card-buttons">
                                        <button class="edit-button">Edit</button>
                                        <button class="delete-button {{card['card_id']}}">Delete</button>
                                    </div>

                            </div>
                            <div class="panel-card input-card">
                                    <input maxlength="25" class="panel-card-text">
                                    
                                    <div class="edit-buttons">
                                        <button class="save-button" disabled>Save</button>
                                    </div>

                            </div>
                        </div>
                           
                        {% endfor %}
                    </div>
    
                    <div class=".panel-card-add">
                        <div class="input input-stack">
                        
                            <!-- <button id="close-button">&times;</button> -->
                            <input type="text" class="input-create" maxlength="30" id="input-field-stack" placeholder="Enter Stack title">
                            <button class="create-button disabled" id="create-button" disabled>Create Stack</button>
               
                        </div>
    
                        <button class="add-button dynamic-add">
                            <span class="add-button-text">
                                <span class="add-icon">+</span>
    
                            </span>
                            Add a Card
                        </button>
                    </div>
                    <!-- <div class="new-list">
                        <input id="addTodoListInput" class="comment">
                        <button id="addTodoListButton" class="btn-save">Add</button>
                    </div> -->
                    
                </div>
    
                
    
            {% endfor %}
    
           
        </div>

    </div>



{% endblock %}

{% block extrajs %}
<script src="../static/board/board-scripting.js" defer></script>
<script src="../static/board/chat-scripting.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
{% endblock %}


