{% extends 'shared/layout.html' %}

{% block extracss %}
    <link rel="stylesheet"  href="../static/login-Form/css/popup-styling.css">
{% endblock %}

{% block extrajs %}
    <script src="../static/home/js/homeScripting.js" defer></script>
    <script src="../static/home/js/popup-scripting.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block maincontent %}

<main class="homepage">

    
    <section class="snap-section" class="a" id="hero"> 
        <h1 class="title"> Welcome to Trello </h1>
        <div class="hero-text">
            

            <div id="popup">
                <h2>Create Board</h2>
                <button id="close-button">&times;</button>
                <div class="form-group title">
                    <label for="board-title">Board title </label>
                    <input type="text" id="board-title" placeholder="Enter board title">
                </div>
                <div class="form-group">
                    <label for="user">Collaborators</label>
                    <select id="user" multiple>
                        <option value="ALLUSERS">Everyone (public)</option>
                        {% for user in otherUsers %}
                        {{user}}
                            <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                       
                    </select>
                </div>
                <div class="button-group">
                    <button class="create-button disabled" id="create-button" disabled>Create</button>
                </div>
            </div>

            
                <a id="createButton" class="trello-card create">
                    <div class="trello-card-text create-text">
                        <p class="create-text-font"> Create New Board </p>
                    </div>
                </a>
               
            
           
                <h6 class="subtitle"> Open an Existing Board </h6>
                <div class="trello-card-slider"> 
                {% for board_id, board in user_boards.items() %}
                    <a class="trello-card existing" id="{{board_id}}">
                        <div class="trello-card-text">
                            <p class="trello-card-text-font existing"> {{board['name']}} </p>
                        </div>
                    </a>
                {% endfor %}
                
            

            </div>
           
            <!-- <div class="trello-card-slider"> 
                <a id="createButton" class="trello-card create">
                    <div class="trello-card-text create-text">
                        <p class="create-text-font"> Create New Board </p>
                    </div>
                </a>

                <div id="popup">
                    <h2>Create Board</h2>
                    <button id="close-button">&times;</button>
                    <div class="form-group title">
                        <label for="board-title">Board title </label>
                        <input type="text" id="board-title" placeholder="Enter board title">
                    </div>
                    <div class="form-group">
                        <label for="user">Collaborators</label>
                        <select id="user" multiple>
                            <option value="ALLUSERS">Everyone (public)</option>
                            {% for user in otherUsers %}
                            {{user}}
                                <option value="{{user}}">{{user}}</option>
                            {% endfor %}
                           
                        </select>
                    </div>
                    <div class="button-group">
                        <button class="create-button disabled" id="create-button" disabled>Create</button>
                    </div>
                </div>
                <h1> Your Boards </h1>
                <br>
                {% for board_id, board in user_boards.items() %}
                    <a href=/openboard class="trello-card existing" id="{{board_id}}">
                        <div class="trello-card-text">
                            <p class="trello-card-text-font"> {{board['name']}} </p>
                        </div>
                    </a>
                {% endfor %}
                
            

            </div> -->
        </div>

        
        
        
    </section>
    

</main>


{% endblock %}


